<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>

                    <p class="text-muted">The Edwards Lab is in the <a href="http://www.brown.edu/academics/ecology-and-evolutionary-biology/about/faculty">Department of Ecology and Evolutionary Biology</a> at <a href="http://www.brown.edu">Brown University</a>.</p>

                    <p class="text-muted">We are botanists and evolutionary biologists. We are inspired by the diverse ways in which plants look and act, and want to understand how this diversity has evolved. Phylogeny is at the heart of everything we do, and we are committed to the development of model lineages for studying evolution. We also always try to think as integratively as possible, and keep the whole organism in mind as we dive into minutia. Currently we are focused on a couple of different lineages and questions.</p>

                 
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/portulacifolia.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Portullugo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> The "Portullugo" is a clade of ~2200 species that live in a wide variety of habitats and are found on every continent, though they have a penchant for deserts and the high alpine (lucky us). The lineage includes well known groups such as the cacti, and less famous but equally wonderful plants like the Molluginaceae, the purslanes, lewisias, and the Didiereaceae.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                 <img class="img-circle img-responsive" src="img/about/C4_CAM.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>C4 and CAM evolutionary trajectories</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We are especially interested in how C4 and CAM photosynthesis, two fairly complicated plant adaptations to low CO2, heat, and drought, have evolved so many times (~100s), mostly over the past 15 or so million years. We have worked on the C4 problem in grasses and are now focusing our attention on C4 and CAM origins in the Portullugo, a lineage that holds a suprising number of both C4 and CAM plants.  </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/acerifolium.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Viburnum</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> Viburnum is a clade of ~165 species of woody shrubs and trees common in northern hemisphere forests, but they are also found in tropical Asia and montane forests throughout Central and South America. We collaborate closely with the <a href="http://donoghuelab.yale.edu/">Donoghue Lab</a> on all things Viburnum, and are especially interested in using this lineage to study the evolution of leaf form and function.</p>
                                </div>
                            </div>
                        </li>
                           </ul>
                </div>
            </div>
        </div>
    </section>