<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>

                    <p class="text-muted">The Edwards Lab is in the <a href="http://www.brown.edu/academics/ecology-and-evolutionary-biology/about/faculty">Department of Ecology and Evolutionary Biology</a> at <a href="http://www.brown.edu">Brown University</a>.</p>

                    <p class="text-muted">We are botanists and evolutionary biologists. We are inspired by the diverse ways in which plants look and act, and want to understand how this diversity has evolved. Phylogeny is at the heart of everything we do, and we are committed to the development of model lineages for studying macroevolution. We think every lineage on earth has something fundamental to teach us. Currently we are focused on a couple of different lineages and questions.</p>

                 
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/portulacifolia.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Portullugo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> blah blah</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/acerifolium.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Viburnum</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> blah blah</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/C4_CAM.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>C4 and CAM evolutionary trajectories</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">blah blah</p>
                                </div>
                            </div>
                        </li>
                           </ul>
                </div>
            </div>
        </div>
    </section>