<!-- Publications Section -->
    <section id="publications" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Publications</h2>
                </div>
            </div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Li M, H An, R Angelovici, C Bagaza, A Batushansky, L Clark, V Coneva, MJ Donoghue, EJ Edwards, D Fajardo, H Fang, MH Frank, T Gallaher, S Gebken, T Hill, S Jansky, B Kaur, PC Klahs, LL Klein, V Kuraparthy, J Londo, Z Migicovsky, A Miller, R Mohn, S Myles, CN Topp, A Van Deynze, K Zhang, L Zhu, BM Zink, DH Chitwood. 2018. Topological data analysis as a morphometric method: using persistent homology to demarcate a leaf morphospace. Frontiers in Plant Science 9:553.<a href="reprints/li_etal_fps2018.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Goolsby EW, AJ Moore, LP Hancock, JM de Vos, EJ Edwards. 2018. Molecular evolution of key metabolic genes during transitions to C4 and CAM photosynthesis. American Journal of Botany 105: 602-613.<a href="reprints/goolsby_etal_ajb2018.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Spriggs EL, S Schmerler, EJ Edwards, MJ Donoghue. 2018. Leaf form varies along a shared axis across multiple scales in Viburnum. American Naturalist 191: 235-249.<a href="reprints/spriggs_etal_amnat2018.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Moore AJ, JM de Vos, LP Hancock, E Goolsby, EJ Edwards. 2018. Targeted enrichment of large gene families for phylogenetic inference: phylogeny and molecular evolution of photosynthesis genes in the portullugo (Caryophyllales). Systematic Biology 67: 367-383 <a href="reprints/moore_etal_sysbio2018.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Holtum JAM, LP Hancock, EJ Edwards, K Winter. 2018. Crassulacean Acid Metabolism (CAM) in the Basellaceae (Caryophyllales). Plant Biology 20: 409-414. <a href="reprints/holtum_etal_plantbiology2018.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Holtum JAM, LP Hancock, EJ Edwards, K Winter. 2017. Facultative CAM photosynthesis in four species of Calandrinia, ephemeral succulents of arid Australia. Photosynthesis Research 134: 17-25. <a href="reprints/holtum_etal_pr2017.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Edwards EJ, DS Chatelet, B Chen, JY Ong, S Tagane, J Kanemitsu, K Tagawa, K Teramoto, B Park, KF Chung, JM Hu, T Yahara, MJ Donoghue. 2017. Convergence, consilience, and the evolution of temperate deciduous forests. American Naturalist 190: S87-S104. <a href="reprints/edwards_etal2017amnat.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

 <div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Obbens FJ, LP Hancock, EJ Edwards, KR Thiele. 2017. Calandrinia holtumii (Montiaceae), a new and unusual species from arid Western Australia. Nuytsia 28: 217-233. <a href="reprints/obbens_etal2017nuytsia.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

 <div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Dunning L, JJ Moreno-Villena, MR Lundgren, A Brautigam, EJ Edwards, P Nosil, CP Osborne, PA Christin. 2017. Reticulate evolution facilitated the recurrent emergence of C4 photosynthesis within closely related species. Evolution 71: 1541-1555. <a href="reprints/dunning_etal2017evolution.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Holtum JAM, LP Hancock, EJ Edwards, K Winter. 2017. Optional use of CAM photosynthesis in two C4 species, Portulaca cyclophylla and Portulaca dignya. Journal of Plant Physiology 214: 91-96. <a href="reprints/holtum_etal2017jplantphys.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Edwards EJ, DS Chatelet, EL Spriggs, ES Johnson, C Schlutius, MJ Donoghue. 2017. Correlation, causation, and the evolution of leaf teeth: A reply to Givnish and Kriebel. American Journal of Botany 104: 509-515. <a href="reprints/edwards_etal2017ajb.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Forrestel EJ, MJ Donoghue, EJ Edwards, W Jetz, JCO du Toit, MD Smith. 2017. Different clades and traits yield similar grassland functional responses. Proceedings of the National Academy of Sciences 114: 705-710.  <a href="reprints/forrestel_etal_pnas2017.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Barish S, M Arakaki, EJ Edwards, MJ Donoghue, WL Clement. 2016. Characterization of 16 microsatellite markers for the Oreinotinus clade of Viburnum (Adoxaceae). Applications in Plant Sciences 4: 1600103.  <a href="reprints/barish_etal_aps2016.pdf">pdf</a></p>
</div><div class="box-footer"></div></d

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Thulin M, AJ Moore, H El-Seedi, A Larsson, PA Christin, EJ Edwards. 2016. Phylogeny and generic delimitation in Molluginaceae, new pigment data in Caryophyllales, and the new family Corbichoniaceae. Taxon 65: 775-793.  <a href="reprints/thulin_etal_taxon2016.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Edwards EJ, EL Spriggs, D Chatelet, MJ Donoghue. 2016. Unpacking a century old mystery: winter buds and the latitudinal gradient in leaf form. American Journal of Botany 103: 975-978.  <a href="reprints/Edwards_etal_ajb2016.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Scoffoni C, D Chatelet, J Pasquet-Kok, M Rawls, MJ Donoghue, EJ Edwards, L Sack. 2016. Hydraulic basis for the evolution of photosynthetic productivity. Nature Plants 2: 16072.  <a href="reprints/scoffoni_etal_np2016.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Bhaskar R, S Porder, P Balvanera, EJ Edwards. 2016. Ecological and evolutionary variation in community nitrogen use traits during tropical dry forest secondary succession. Ecology 97: 1194-1206.  <a href="reprints/bhaskar_etal_ecology2016.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Holtum JAC, L Hancock, EJ Edwards, M Crisp, D Crayn, R Sage, K Winter. 2016. Australia lacks stem succulents but is it depauperate in plants with Crassulacean Acid Metabolism (CAM)? Current Opinion in Plant Biology 31: 109-117.  <a href="reprints/holtum_etal_copb2016.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Ogburn RM, EJ Edwards. 2015. Life history lability underlies rapid climate niche evolution in the angiosperm clade Montiaceae. Molecular Phylogenetics and Evolution 92: 181-192.  <a href="reprints/ogburn_edwards_MPE2015.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Yang X, JC Cushman, AM Borland, EJ Edwards, and 47 others. 2015. A roadmap for research on crassulacean acid metabolism (CAM) to enhance sustainable food and bioenergy production in a hotter, drier world. New Phytologist 207: 491-504.  <a href="reprints/yang_et_alNP2015.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Edwards EJ, JM de Vos, MJ Donoghue. 2015. Brief Communications Arising: Doubtful pathways to cold tolerance in plants. Nature 521, doi:10.1038/nature14393.  <a href="reprints/edwards_etal_nature2015.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Spriggs EA, WL Clement, PW Sweeney, S Madrinan, EJ Edwards, MJ Donoghue. 2015. Temperate radiations and dying embers of a tropical past: the diversification of Viburnum. New Phytologist 207: 340-354.  <a href="reprints/spriggs_etal_NP2015.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Christin PA, M Arakaki, CP Osborne, EJ Edwards. 2015. Genetic enablers underlying the clustered evolutionary origins of C4 photosynthesis in angiosperms. Molecular Biology and Evolution 32: 846-858.  <a href="reprints/christin_etal_MBE2015.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Donoghue MJ, EJ Edwards. 2014. Biome shifts and niche evolution in plants. Annual Review of Ecology, Evolution, and Systematics 45: 547-572.  <a href="reprints/donoghue_edwards2014arees.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Gao L, EJ Edwards, Y Zeng, Y Huang. 2014. Major evolutionary trends in hydrogen isotope fractionation of vascular plant leaf waxes. PLoS ONE 9(11): e112610.  <a href="reprints/gao_etal_plosone2014.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Edwards EJ. 2014. The inevitability of C4 photosynthesis. eLife 3:e03702. <a href="reprints/edwards_eLife2014.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Howison M, F Zapata, EJ Edwards, CW Dunn. 2014. Bayesian genome assembly and assessment by markov chain monte carlo sampling. PLoS ONE 9(6): e99497.  <a href="reprints/howison_etal_plosone2014.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Clement WL, M Arakaki, PW Sweeney, EJ Edwards, MJ Donoghue. 2014. A chloroplast tree for <i>Viburnum</i> and its implications for phylogenetic classification and character evolution. American Journal of Botany 101: 1029-1049.  <a href="reprints/clement_etalAJB2014.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Christin PA, M Arakaki, CP Osborne, A Brautigam, RF Sage, JM Hibberd, S Kelly, S Covshoff, GKS Wong, L Hancock, EJ Edwards. 2014. Shared origins of a key enzyme during the evolution of C4 and CAM metabolism. Journal of Experimental Botany 65: 3609-3621.<a href="reprints/christin_etal2014jxb.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Hancock L, EJ Edwards. 2014. Phylogeny and the inference of evolutionary trajectories. Journal of Experimental Botany 65: 3491-3498.  <a href="reprints/hancock_edwards2014jxb.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Spriggs EL, PA Christin, EJ Edwards. 2014. C4 photosynthesis promoted species diversification during the Miocene grassland expansion. PLoS ONE 9(5):e97722.  <a href="reprints/spriggs_etal_2014plosone.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Edwards EJ, DS Chatelet, L Sack, MJ Donoghue. 2014. Leaf life span and the leaf economic spectrum in the context of whole plant architecture. Journal of Ecology 102: 328-336.  <a href="reprints/Edwards_etal2014jecol.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Christin PA, E Spriggs, CP Osborne, CAE Stromberg, N Salamin, EJ Edwards. 2014. Molecular dating, evolutionary rates, and the age of the grasses. Systematic Biology 63: 153-165.  <a href="reprints/Christin_etal2014sysbio.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Still CJ, S Pau, EJ Edwards. 2014. Land surface skin temperature captures thermal environments of C3 and C4 grasses. Global Ecology and Biogeography 23: 286-296.  <a href="reprints/still_etal_2014geb.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Christin PA, SF Boxall, R Gregory, EJ Edwards, J Hartwell, CP Osborne. 2013. Parallel recruitment of multiple genes into C4 photosynthesis. Genome Biology and Evolution 5: 2174-2187. <a href="reprints/christin_etal_2013GBE.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Chatelet DS, WL Clement, L Sack, MJ Donoghue, EJ Edwards. 2013. The evolution of photosynthetic anatomy in <i>Viburnum</i>  (Adoxaceae). International Journal of Plant Sciences 174: 1277-1291.<a href="reprints/chatelet_etal_IJPS2013.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Edwards EJ, MJ Donoghue. 2013. Is it easy to move <i>and</i>  easy to evolve? Evolutionary accessibility and adaptation. Journal of Experimental Botany 64: 4047-4052. <a href="reprints/edwards_donoghue2013jxb.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Ogburn RM, EJ Edwards. 2013. Repeated origin of three-dimensional leaf venation releases constraints on the evolution of succulence in plants. Current Biology 23: 722-726. <a href="reprints/ogburn_edwards2013cb.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Christin, PA, CP Osborne, DS Chatelet, JT Columbus, G Besnard, TR Hodkinson, LM Garrison, MS Vorontsova, EJ Edwards. 2013. Anatomical enablers and the evolution of C4 photosynthesis in grasses. Proceedings of the National Academy of Sciences USA 110: 1381-1386.  <a href="reprints/christin_etal_pnas2013.pdf">pdf</a></p> 
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Pau S, EJ Edwards, CS Still. 2013. Improving our understanding of environmental controls on the distribution of C3 and C4 grasses. Global Change Biology 19: 184-196.   <a href="reprints/pau_etal_gcb2013.pdf">pdf</a></p> 
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Christin PA, MJ Wallace, H Clayton, EJ Edwards, RT Furbank, PW Hattersley, RF Sage, TD Macfarlane, M Ludwig. 2012. Multiple photosynthetic transitions, polyploidy, and lateral gene transfer in the grass subtribe Neurachninae. Journal of Experimental Botany 63: 6297-6308.   <a href="reprints/christin_etal_jxb2012.pdf">pdf</a></p> 
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Schmerler S, W Clement, J Beaulieu, D Chatelet, L Sack, MJ Donoghue, EJ Edwards. 2012. Evolution of leaf form correlates with temperate/tropical transitions in <i>Viburnum</i>. Proceedings of the Royal Society of London B: Biological Sciences 279: 3905-3913.  <a href="reprints/schmerler_etal_procB2012.pdf">pdf</a></p> 
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Liu H, EJ Edwards, R Freckleton, CP Osborne. 2012. Phylogenetic niche conservatism in C4 grasses. Oecologia 170: 835-845.  <a href="reprints/Liu_etal_2012.pdf">pdf</a></p> 
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Ogburn RM, EJ Edwards. 2012. Quantifying succulence: a rapid, physiologically meaningful measure of plant water storage. Plant, Cell and Environment 35: 1533-1542.  <a href="reprints/Ogburn_Edwards_PCE2012.pdf">pdf</a></p> 
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Feild T, EJ Edwards. 2012. Celebrating giant steps toward a synthetic history of angiosperm evolution. Special issue of International Journal of Plant Sciences 173: 599-560.  <a href="reprints/Feild_Edwards_IJPS2012.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Edwards EJ, RM Ogburn. 2012. Angiosperm responses to a low CO2 world: CAM and C4 photosynthesis as parallel evolutionary trajectories. Special issue of International Journal of Plant Sciences 173: 724-733.  <a href="reprints/Edwards_Ogburn_IJPS2012.pdf">pdf</a></p> 
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Christin PA, EJ Edwards, G Besnard, SF Boxall, R Gregory, EA Kellogg, J Hartwell, CP Osborne. 2012. Adaptive evolution of C4 photosynthesis through recurrent lateral gene transfer. Current Biology 22: 445-449. <a href="reprints/Christin_etal_currbio2012.pdf">pdf</a></p> 
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Christin PA, G Besnard, EJ Edwards, N Salamin. 2012. Effect of genetic convergence on phylogenetic inference. Molecular Phylogenetics and Evolution 62: 921-927. <a href="reprints/Christin_etal_MPE2012.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Grass Phylogeny Working Group II. 2012. New grass phylogeny resolves deep evolutionary relationships and discovers C4 origins. New Phytologist 193: 304-312.   <a href="reprints/gpwgII_NP2012.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Taylor SH, PJ Franks, SP Hulme, E Spriggs, PA Christin, EJ Edwards, FI Woodward, CP Osborne. 2012. Photosynthetic pathway and ecologial adaptation explain stomatal trait diversity amongst grasses. New Phytologist 193: 387-396.   <a href="reprints/Taylor_etal_NP2012.pdf">pdf</a></p> 
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Sage RF, PA Christin, EJ Edwards. 2011. C4 plant lineages of planet Earth. Special issue of Journal of Experimental Botany 62: 3155-3169.   <a href="reprints/sage_etal_2011jexb.pdf">pdf</a>   
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Christin, PA, CP Osborne, RF Sage, M Arakaki, EJ Edwards. 2011. C4 eudicots are not younger than C4 monocots. Special issue of Journal of Experimental Botany 62: 3171-3181.   <a href="reprints/christin_etal_2011jexb.pdf">pdf</a>   
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Arakaki M, PA Christin, A Lendel, R Nyffeler, U Eggli, RM Ogburn, E Spriggs, M Moore, EJ Edwards. 2011. Recent and contemporaneous radiations of the worlds succulent plant lineages. Proceedings of the National Academy of Sciences USA 108: 8379-8384.   <a href="reprints/Arakaki_etal_pnas2011.pdf">pdf</a>   
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Christin PA, T Sage, EJ Edwards, RM Ogburn, R Khoshravish, RF Sage. 2011. Complex evolutionary transitions and the significance of C3-C4 intermediate forms of photosynthesis in Molluginaceae. Evolution 65: 643-660.   <a href="reprints/christin_etal_evolution2011.pdf">pdf</a>   
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Ogburn RM, EJ Edwards. 2010. The ecological water-use strategies of succulent plants. invited review, Advances in Botanical Research 55: 179-255.   <a href="reprints/ogburn_edwardsABR2010.pdf">pdf</a>   
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Davis CC, EJ Edwards, MJ Donoghue. 2010. A clade's eye view of global climate change.  <i>in</i> M. A. Bell, D. J. Futuyma, W. F. Eanes, and J. S. Levinton, eds.  <i>Evolution since Darwin: the first 150 years</i>. pp. 623-627. Sinauer, Sunderland, Massachusetts.   <a href="reprints/Davis_et_al_Darwin_2010.pdf">pdf</a>   
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Edwards EJ*, CO Osborne*, CAE Stromberg*, SA Smith and the C4 Grasses Consortium. 2010. The origins of C4 grasslands: integrating evolutionary and ecosystem science. Science  328: 587-591.   	<a href="reprints/Edwards_etal_Science2010.pdf">pdf</a>	   <a href="reprints/Edwards_etal_Science2010_SOM.pdf">Supplemental material</a>. *<i>indicates equal authorship</i></p>      
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Edwards EJ, SA Smith. 2010. Phylogenetic analyses reveal the shady history of C4 grasses. Proceedings of the National Academy of Sciences USA 107: 2532-2537.   <a href="reprints/edwards_smith_PNAS2010.pdf">pdf</a>   <a href="reprints/edwards_smithPNAS2010_supp.pdf">Supplemental material</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Haberle RC, A Dang, T Lee, C Penaflor, H Cortes-Burns, A Oestreich, L Raubeson, N Cellinese, EJ Edwards, ST Kim, WMM Eddie, RK Jansen. 2009. Taxonomic and biogeographic implications of a phylogenetic analysis of the Campanulaceae based on three chloroplast genes. Taxon 58: 715-734.</p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Cellinese N, SA Smith, EJ Edwards, ST Kim, RC Haberle, MJ Donoghue. 2009. Historical biogeography of the endemic Campanulaceae of Crete. Journal of Biogeography 36: 1253-1269.  <a href="reprints/cellinese_etal_2009jbiogeo.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Edwards EJ. 2009. The Great Cacti: Ethnobotany and Biogeography, by David Yetman. Quarterly Review of Biology 83: 00-00.</p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Ogburn RM and EJ Edwards. 2009. Anatomical variation in the closest relatives of cacti: trait lability and evolutionary innovation. American Journal of Botany 96: 391-408.  <a href="reprints/ogburn_edwardsAJB2009.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Nyffeler R, U Eggli, RM Ogburn, EJ Edwards. 2008. Variations on a theme: repeated evolution of succulent life forms in the Portulacineae. invited paper, Haseltonia 14: 26-36.  <a href="reprints/nyffeler_etal_hasel08.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Butterworth CA, EJ Edwards. 2008. Investigating <i>Pereskia</i> and the earliest divergences in Cactaceae. invited paper, Haseltonia 14: 46-53.  <a href="reprints/butterworth_edwards_hasel08.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Edwards EJ, CJ Still. 2008. Climate, phylogeny and the ecological distribution of C4 grasses. Ecology Letters 11: 266-276.  <a href="reprints/edwards_still_2008_EL.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Edwards EJ, CJ Still, MJ Donoghue. 2007. The relevance of phylogeny to studies of global climate change. Trends in Ecology and Evolution 22: 243-249.  <a href="reprints/Edwards_etal_TREE2007.pdf"> pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Edwards EJ. 2006. Correlated evolution of stem and leaf hydraulic traits in <i>Pereskia</i> (Cactaceae). New Phytologist 172: 479-489.<a href="reprints/Edwards_NP_2006.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Edwards EJ, MJ Donoghue. 2006. <i>Pereskia</i> and the origin of the cactus life form.  American Naturalist 167: 777-793.  <a href="reprints/Edwards_Donoghue2006.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Edwards EJ, M Diaz. 2006. Ecological physiology of <i>Pereskia guamacho</i>, a cactus with leaves.  Plant Cell and Environment 29: 247-256 <a href="reprints/edwardsdiaz2006.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Riedel SM, EH Epstein, DA Walker, DL Richardson, MP Calef, EJ Edwards, A Moody. 2005. Spatial and temporal heterogeneity of vegetation properties among four tundra plant communities at Ivotuk, Alaska, USA. Arctic, Antarctic, and Alpine Research 37: 25-33.  <a href="reprints/Riedel_etal_2005.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Edwards EJ, R Nyffeler, MJ Donoghue. 2005. Basal cactus phylogeny:  implications of <i>Pereskia</i> paraphyly for the transition to the cactus life form.  American Journal of Botany 92 (7): 1177-1188. <a href="reprints/Edwardsetal2005AJB.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Brodribb TJ, NM Holbrook, EJ Edwards, MV Gutierrez.  2003.  Relations between stomatal closure, leaf turgor and xylem vulnerability in eight tropical dry forest trees.  Plant Cell and Environment 26: 443-450.   <a href="reprints/Brodribbetal2003.pdf">pdf</a></p> 
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Walker DA, HE Epstein, JG Jia, A Balsar, CD Copass, EJ Edwards, WA Gould, J Hollingsworth, J Knudson, HA Maier, A Moody, MK Reynolds. 2003.   Phytomass, LAI and NDVI in northern Alaska:  relationships to summer warmth, soil pH, plant functional types, and extrapolation to the circumpolar Arctic.  Journal of Geophysical Research 108 (D2): 8169 doi:10.1029/2001JD000986.</p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Bell CD, EJ Edwards, ST Kim, MJ Donoghue.  2001.  Dipsacales phylogeny based on chloroplast DNA sequences.  Harvard Papers in Botany 6: 481-499.   <a href="reprints/Belletal2001.pdf">pdf</a></p>
</div><div class="box-footer"></div></div>




</div>
</section>

