<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">People</h2>
                    </div>
            </div>
            
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                	<img src="img/labsept2018.jpg" style="max-width: 100%"/>
                    <p class="large text-muted">Edwards lab members, past and present.</p><br/><br/><br/><br/><br/><br/><br/>
                </div>
            </div>
            
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <p class="text-muted">{{ member.description }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>

<div class="row">
                <div class="col-lg-12 text-center">
<p class="large text-muted">Lab Alums: </p>

<p class="text-muted">Karolina Heyduk, post-doc (2018-2019)</p>
<p class="text-muted">Eric Goolsby, post-doc (2016-2018)</p>
<p class="text-muted">Zachary Lewis, post-doc (2016-2017)</p>
<p class="text-muted">Abigail Moore, post-doc (2013-2016)</p>
<p class="text-muted">Jurriaan de Vos, post-doc (2013-2015)</p>
<p class="text-muted">David Chatelet, post-doc (2010-2015)</p>
<p class="text-muted">Radika Bhaskar, post-doc (2011-2014)</p>
<p class="text-muted">Pascal-Antoine Christin, post-doc (2010-2012)</p>
<p class="text-muted">Monica Arakaki, post-doc (2009-2012)</p>
<p class="text-muted">Lillian Hancock, grad student (2012-2017)</p>
<p class="text-muted">Laura Garrison, grad student (2010-2016)</p>
<p class="text-muted">Matt Ogburn, phD student (2007-2012)</p>
<p class="text-muted">Haley Carter, undergrad (2014-2017)</p>
<p class="text-muted">Eric Kelosa-Kenyon, undergrad (2013-2015)</p>
<p class="text-muted">Regan Lichtenberg, undergrad (2013-2015)</p>
<p class="text-muted">Arisa Lohmeier, undergrad (2012-2014)</p>
<p class="text-muted">Joel Abraham, research technician (2018-2019)</p>
<p class="text-muted">Elizabeth Spriggs, undergrad and research technician (2008-2012)</p>
<p class="text-muted">Asya Rahlin, undergrad (2011-2012)</p>
<p class="text-muted">Alejandro Brambila, undergrad (2011-2012)</p>
<p class="text-muted">Sam Schmerler, undergrad (2008-2011)</p>
<p class="text-muted">Anne Williard, undergrad (2008-2009)</p>
<p class="text-muted">Cassidy Metcalf, undergrad (2007-2008)</p>
<p class="text-muted">Elissa Martin, research tech (2017-2018)</p>
<p class="text-muted">Kaya Schmandt, research tech (2008-2010)</p>
                    </div>
            </div>
            
        </div>
    </section>